/* ===== GLOBAL ===== */
body {
    background: #f7f9fc !important;
}

.block-container {
    padding-top: 1rem;
}

/* ===== TITLE ===== */
.big-title {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: -5px;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 40px;
}

/* Dataset badge */
.dataset-info {
    text-align: center;
    padding: 10px 20px;
    background: #e8efff;
    border-left: 5px solid #8CA9FF;
    border-radius: 6px;
    margin-bottom: 25px;
    font-size: 15px;
}

/* ===== SECTION ===== */
.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-subtitle {
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}

/* ===== INPUTS ===== */
.label-title {
    font-size: 16px;
    font-weight: 700;
}

.stSelectbox > div > div,
.stNumberInput input {
    border-radius: 10px !important;
    border: 1px solid #dbe3f2 !important;
}

.stSelectbox > div > div:hover,
.stNumberInput input:hover {
    border-color: #8CA9FF !important;
}

/* Remove orange hover */
.css-1y4p8pa:hover, 
.css-q8sbsg:hover {
    border-color: #8CA9FF !important;
    box-shadow: none !important;
}

/* ===== BUTTON ===== */
.stButton > button {
    background: #8CA9FF !important;
    color: white !important;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.stButton > button:hover {
    background: #8CA9FF !important;
}

/* ===== SLIDER (BLUE FIXED) ===== */
.stSlider > div[data-baseweb="slider"] .css-1gv0vcd {
    background: #8CA9FF !important;
}

.stSlider > div[data-baseweb="slider"] .css-14pt78w {
    background: #dbeafe !important;
}

.stSlider > div[data-baseweb="slider"] .css-eg0mwd {
    background: #8CA9FF !important;
    border: 3px solid white !important;
}

/* ===== TABLE ===== */
table {
    border-radius: 12px;
    overflow: hidden;
}

/* Title "Nilai Alpha" */
.label-title {
    font-size: 13px;
    text-align: center;
    color: #37353E;
}

