/* ===== GLOBAL STYLE ===== */
body {
    background: #f7f9fc !important;
}

.block-container {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* ===== HEADER TITLE ===== */
.big-title {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin-top: -10px;
    color: #2b2b2b;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    color: #6e6e6e;
    margin-bottom: 40px;
}

/* ===== BOX STYLE ===== */
.box {
    background: #ffffff;
    padding: 28px;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.05);
    margin-bottom: 35px;
}

/* ===== BUTTON ===== */
.stButton > button {
    background: #2563eb;
    color: #fff;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
}
.stButton > button:hover {
    background: #1e4fcf;
}

/* ===== TABLE ===== */
table {
    border-radius: 12px;
    overflow: hidden;
}

/* ===================== */
/* SLIDER — UBAH WARNA   */
/* ===================== */

/* Garis penuh (track belakang) */
.stSlider > div[data-baseweb="slider"] .css-14pt78w {
    background: #dbeafe !important; /* biru muda */
}

/* Garis aktif (yang tadinya oranye) */
.stSlider > div[data-baseweb="slider"] .css-1gv0vcd {
    background: #1d4ed8 !important; /* biru */
}

/* Bulatan slider */
.stSlider > div[data-baseweb="slider"] .css-eg0mwd {
    background: #1d4ed8 !important; /* biru */
    border: 3px solid white !important;
}
